:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    margin: 0px;
    box-sizing: border-box;
    max-width: 1440px;
    max-height: 1024px;
}

.overDisplay {
    display: flex;
    max-width: 100%;
    height: 100%;
}

.mainDesignAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 232px;
    background-color: var(--sideheader-main-color);
}

.overDisplay a {
    text-decoration: none;
    color: var(--sideheader-font-color);
    cursor: pointer;
}

.asideMenu {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.asideMenu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.legacyMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.legacyMenu a {
    padding-top: 30px;
}

.mainDesign {
    width: 100%;
    height: 100vh;
    background-color: var(--content-main-color);
}

.mainDesignAsideImg{
    padding:64px 0px 64px 0px ;
}

.mainDesignAsideLinks{
    height: 100%;
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 96px;
    background-color: white;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.headerContentRightSide {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}

.picHelp {
    width: 32px;
    height: 32px;
    cursor: pointer;
}