:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.overDisplay {
    display: flex;
    max-width: 100%;
    height: 100%;
}

.mainDesignAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 232px;
    background-color: var(--sideheader-main-color);
}

.overDisplay a {
    text-decoration: none;
    cursor: pointer;
}

.asideMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 46px;
    transition: 125ms ease-in-out;
}

.asideMenu:hover{
    background-color:#2A3D59 ;
}

.asideMenu a {
    color: var(--sideheader-font-color);
    display: flex;
    align-items: center;
    width: 232px;
    justify-content: center;
}

.asideMenu a img {
    justify-content: center;
}

.asideMenu:nth-of-type(3) {
    padding-right: 23px;
}

.asideMenuArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 229px;
    width: 232px;
    gap: 20px;
    margin-top: 64px;
}

.asideMenu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.legacyMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.legacyMenu a {
    padding-top: 30px;
    color: var(--sideheader-font-color);
}

.legacyMenu a:hover {
    color: #29ABE2;
    transform: scale(1.03);
}

/* .mainDesign {
    width: 100%;
    height: 100vh;
    background-color: var(--content-main-color);
    overflow: auto;
} */

.mainDesignAsideImg {
    padding: 64px 0px 64px 0px;
    cursor: pointer;
}

.mainDesignAsideLinks {
    height: 100%;
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 80;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.headerContentRightSide {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.picHelp {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.picSm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100%;
    color: #29ABE2;
}
.picSm:hover{
    background-color: #CDCDCD;
    color: #29ABE2;
}

.active {
    background-color: #091931;
    width: 232px;
    height: 46px;
    cursor: default;
}

.active a {
    color: white;
    cursor: default;
}

.active:hover {
    background-color: #091931;
}

.burger-menu {
    position: absolute;
    top: 82px;
    right: 0;
    width: 175px;
    height: 210px;
    background-color: var(--sideheader-main-color);
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
    display: none;
    z-index: 999;
}

.burger-menu.open {
    display: block;
}

.burger-menu .burger-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 8px 8px;
    gap: 15px;
    cursor: pointer;
}

.burger-content a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.burger-menu .burger-content h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
    padding: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.burger-menu .burger-content h2:hover {
    background-color: #2a3d59;
    color: #CDCDCD;
}
