:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.overDisplay {
    display: flex;
    max-width: 100%;
    height: 100%;
}



html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    cursor: pointer;
}

.mainDesignAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 232px;
    background-color: var(--sideheader-main-color);
}

.overDisplay a {
    text-decoration: none;
    cursor: pointer;
}

.asideMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 46px;
    transition: 125ms ease-in-out;
}

.asideMenu:hover{
    background-color:#2A3D59 ;
}

.asideMenu a {
    color: var(--sideheader-font-color);
    display: flex;
    align-items: center;
    width: 232px;
    justify-content: center;
}

.asideMenu a img {
    justify-content: center;
}

.asideMenu:nth-of-type(3) {
    padding-right: 23px;
}

.asideMenuArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 229px;
    width: 232px;
    gap: 20px;
    margin-top: 64px;
}

.asideMenu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.legacyMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.legacyMenu a {
    padding-top: 30px;
    color: var(--sideheader-font-color);
}

.legacyMenu a:hover {
    color: #29ABE2;
    transform: scale(1.03);
}

.mainDesignAsideImg {
    padding: 64px 0px 64px 0px;
    cursor: pointer;
}

.mainDesignAsideLinks {
    height: 100%;
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 80;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.headerContentRightSide {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.picHelp {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.picSm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 100%;
    color: #29ABE2;
}

.picSm:hover{
    background-color: #CDCDCD;
    color: #29ABE2;
}

.active {
    background-color: #091931;
    width: 232px;
    height: 46px;
    cursor: default;
}

.active a {
    color: white;
    cursor: default;
}

.active:hover {
    background-color: #091931;
}

.burger-menu {
    position: absolute;
    top: 70px;
    right: 19px;
    width: 175px;
    background-color: var(--sideheader-main-color);
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
    display: none;
    z-index: 999;
}

.burger-menu.open {
    display: block;
}

.burger-menu .burger-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8px;
    gap: 15px;
    cursor: pointer;
}

.burger-content a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.burger-menu .burger-content h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
    padding: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.burger-menu .burger-content h2:hover {
    background-color: #2a3d59;
    color: #CDCDCD;
}

.userImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.popupArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.55);
    position: absolute;
    top: 0;
    z-index: 999;
}

.editContact {
    display: flex;
    width: 80%;
    height: 592px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;

    .left-part {
        background-color: #2A3647;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding: 46px;
        width: 45%;

        h2 {
            font-weight: 700;
            font-size: 61px;
            color: #FFFFFF;
        }

        img {
            width: 56px;
        }

        .vector {
            width: 90px;
            height: 0px;
            border: 3px solid #29ABE2;
        }
    }

    .right-part {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 55%;
        padding: 46px;

        .close {
            position: absolute;
            top: 48px;
            right: 48px;
        }

        .close:hover {
            cursor: pointer;
            border-radius: 50%;
            background-color: #a8a8a840;
        }

        .initialsCont {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #CE9597;
            box-shadow: 0px 0px 4px 0px #0000001A;
            border: 3px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
            line-height: 120px;

            .camera {
                position: absolute;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                bottom: 0;
                right: 0;
                background-color: #ffffff;

                img {
                    position: absolute;
                    top: 15%;
                    left: 18%;
                }
            }

            .camera:hover {
                cursor: pointer;
                background-color: #29abe2;

                img {
                    content: url('/assets/img/camera-white.png');
                }
            }
        }

        .userDetails {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 70%;

            input {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                gap: 10px;
                padding: 13px 21px;
                background-color: #FFFFFF;
                border: 1px solid #D1D1D1;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;  
            }

            input:nth-child(1) {
                background: url('/assets/img/person.png') no-repeat 95% center;
            }

            input:nth-child(2) {
                background: url('assets/img/mail.png') no-repeat 95% center;
            }

            input:nth-child(3) {
                background: url('assets/img/call.png') no-repeat 95% center;
            }

            input:focus {
                border-color: #29ABE2;
                outline: none;
            }

            .buttonContainer {
                display: flex;
                width: 100%;
                height: 57px;
                gap: 25px;

                button:nth-child(1) {
                    border-radius: 8px;
                    border: 1px solid #D1D1D1;
                    color: #2A3647;
                    background-color: transparent;
                    font-size: 21px;
                    font-weight: 400;
                    padding: 15px 24px;
                    cursor: pointer;
                }

                button:nth-child(1):hover {
                    border-color: #29ABE2;
                    color: #29ABE2;
                    transition: 300ms ease-out;
                }

                button:nth-child(2) {
                    display: flex;
                    border-radius: 10px;
                    background-color: #2A3647;
                    color: #FFFFFF;
                    padding: 16px;
                    font-size: 21px;
                    font-weight: 700;
                    vertical-align: middle;
                    line-height: 20px;
                    gap: 4px;
                    cursor: pointer;
                }

                button:nth-child(2):hover {
                    background-color: #29ABE2;
                    border: 1px solid #29ABE2;
                    transition: 300ms ease-out;
                }
            }
        }
    }
}