.editContact {
    width: 1212px;
    height: 592px;
    background-color: white;
    display: flex;
    border-radius: 31px;
    animation: slideIn 0.5s forwards ease;

    .left-part {
    width: 40%;
    height: 100%;
    min-height: 270px;
    background-color: #2A3647;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    padding-left: 46px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

        h2 {
            font-weight: 700;
            font-size: 61px;
            color: #FFFFFF;
        }

        img {
            width: 56px;
        }

        .vector {
            width: 90px;
            height: 0px;
            border: 3px solid #29ABE2;
        }
    }

    .initialsContMain {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 47px;
    line-height: 56.4px;
    color: white;
    background-color: #BD7577;
    text-align: center;

    .initialsCont {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #CE9597;
            box-shadow: 0px 0px 4px 0px #0000001A;
            border: 3px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
            line-height: 120px;

            .camera {
                position: absolute;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                bottom: 0;
                right: 0;
                background-color: #ffffff;

                img {
                    position: absolute;
                    top: 15%;
                    left: 18%;
                }
            }

            .camera:hover {
                cursor: pointer;
                background-color: #29abe2;

                img {
                    content: url('../img/camera-white.png');
                }
            }
        }
    }
    
        .userDetails {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 70%;

            input {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                gap: 10px;
                padding: 13px 21px;
                background-color: #FFFFFF;
                border: 1px solid #D1D1D1;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;
            }

            input:nth-child(1) {
                background: url('../img/person.png') no-repeat 95% center;
            }

            input:nth-child(2) {
                background: url('../img/mail.png') no-repeat 95% center;
            }

            input:nth-child(3) {
                background: url('../img/call.png') no-repeat 95% center;
            }

            input:focus {
                border-color: #29ABE2;
                outline: none;
            }
}

    .right-part {
          display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;

        .close {
            position: absolute;
            top: 48px;
            right: 48px;
        }

        .close:hover {
            cursor: pointer;
            border-radius: 50%;
            background-color: #a8a8a840;
        }

            .buttonContainer {
                display: flex;
                width: 100%;
                height: 57px;
                gap: 25px;

                button:nth-child(1) {
                    border-radius: 8px;
                    border: 1px solid #D1D1D1;
                    color: #2A3647;
                    background-color: transparent;
                    font-size: 21px;
                    font-weight: 400;
                    padding: 6px;
                    cursor: pointer;
                }

                button:nth-child(1):hover {
                    border-color: #29ABE2;
                    color: #29ABE2;
                    transition: 300ms ease-out;
                }

                button:nth-child(2) {
                    display: flex;
                    border-radius: 10px;
                    background-color: #2A3647;
                    color: #FFFFFF;
                    padding: 16px;
                    font-size: 21px;
                    font-weight: 700;
                    vertical-align: middle;
                    line-height: 20px;
                    gap: 4px;
                    cursor: pointer;
                }

                button:nth-child(2):hover {
                    background-color: #29ABE2;
                    border: 1px solid #29ABE2;
                    transition: 300ms ease-out;
                }
            }
        }
    }

@media (max-width: 1300px) {

    .editContact {
        width: 88%;
    }
}

@media (max-width: 1192px) {

    .editContact {
        .left-part {
            padding: 28px;
        }

        .right-part {
            padding: 28px;
        }
    }
}

@media (max-width: 1120px) {

    .editContact {
        .left-part {
            padding: 8px;
        }

        .right-part {
            padding: 8px;
        }
    }
}

@media (max-width: 1040px) {
    .editContact {
        position: relative;
        flex-direction: column;
        width: auto;
        height: 96%;
        overflow: auto;

        .left-part {
            width: 100%;
            padding: 66px 24px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 30px;
        }

        .right-part {
            width: 100%;
            padding: 24px 24px 66px 24px;
            position: unset;
            flex-direction: column;

            .close {
                top: 24px;
                right: 24px;
                content: url('../img/Closewhite.png');
            }

            .initialsCont {
                position: absolute;
                bottom: 50%;
            }

            .userDetails {
                width: 100%;

                .buttonContainer {
                    button:nth-child(1) {
                        padding: 8px 15px;
                    }
                }
            }
        }
    }
    .editContact::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 420px) {
    .editContact {
        height: 100%;
        border-radius: 0;
        width: 100%;

        .right-part {
            flex: 1;
            padding: 24px;

            .initialsCont {
                bottom: 48%;
                height: 108px;
                width: 108px;
                line-height: 108px;
                font-size: 42px;
            }

            .userDetails {
                .buttonContainer {
                    button:nth-child(1) {
                        padding: 0px 15px;
                    }
                }
            }
        }

        .left-part {
            border-radius: 0px;
            flex: 1;
        }
    }
}