.editContact {
    display: flex;
    width: 80%;
    height: 592px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;

    .left-part {
        background-color: #2A3647;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding: 46px;
        width: 45%;

        h2 {
            font-weight: 700;
            font-size: 61px;
            color: #FFFFFF;
        }

        img {
            width: 56px;
        }

        .vector {
            width: 90px;
            height: 0px;
            border: 3px solid #29ABE2;
        }
    }

    .right-part {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 55%;
        padding: 46px;

        .close {
            position: absolute;
            top: 48px;
            right: 48px;
        }

        .close:hover {
            cursor: pointer;
            border-radius: 50%;
            background-color: #a8a8a840;
        }

        .initialsCont {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #CE9597;
            box-shadow: 0px 0px 4px 0px #0000001A;
            border: 3px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 48px;
            font-weight: 500;
            text-align: center;
            vertical-align: middle;
            line-height: 120px;

            .camera {
                position: absolute;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                bottom: 0;
                right: 0;
                background-color: #ffffff;

                img {
                    position: absolute;
                    top: 15%;
                    left: 18%;
                }
            }

            .camera:hover {
                cursor: pointer;
                background-color: #29abe2;

                img {
                    content: url('../img/camera-white.png');
                }
            }
        }

        .userDetails {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 70%;

            input {
                width: 100%;
                height: 50px;
                border-radius: 10px;
                gap: 10px;
                padding: 13px 21px;
                background-color: #FFFFFF;
                border: 1px solid #D1D1D1;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;
            }

            input:nth-child(1) {
                background: url('../img/person.png') no-repeat 95% center;
            }

            input:nth-child(2) {
                background: url('../img/mail.png') no-repeat 95% center;
            }

            input:nth-child(3) {
                background: url('../img/call.png') no-repeat 95% center;
            }

            input:focus {
                border-color: #29ABE2;
                outline: none;
            }

            .buttonContainer {
                display: flex;
                width: 100%;
                height: 57px;
                gap: 25px;

                button:nth-child(1) {
                    border-radius: 8px;
                    border: 1px solid #D1D1D1;
                    color: #2A3647;
                    background-color: transparent;
                    font-size: 21px;
                    font-weight: 400;
                    padding: 6px;
                    cursor: pointer;
                }

                button:nth-child(1):hover {
                    border-color: #29ABE2;
                    color: #29ABE2;
                    transition: 300ms ease-out;
                }

                button:nth-child(2) {
                    display: flex;
                    border-radius: 10px;
                    background-color: #2A3647;
                    color: #FFFFFF;
                    padding: 16px;
                    font-size: 21px;
                    font-weight: 700;
                    vertical-align: middle;
                    line-height: 20px;
                    gap: 4px;
                    cursor: pointer;
                }

                button:nth-child(2):hover {
                    background-color: #29ABE2;
                    border: 1px solid #29ABE2;
                    transition: 300ms ease-out;
                }
            }
        }
    }
}

.initialsContAlt {
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #CE9597;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
}

@media (max-width: 1300px) {

    .editContact {
        width: 88%;
    }
}

@media (max-width: 1192px) {

    .editContact {
        .left-part {
            padding: 28px;
        }

        .right-part {
            padding: 28px;
        }
    }
}

@media (max-width: 1120px) {

    .editContact {
        .left-part {
            padding: 8px;
        }

        .right-part {
            padding: 8px;
        }
    }
}

@media (max-width: 1040px) {
    .editContact {
        position: relative;
        flex-direction: column;
        width: auto;
        height: auto;

        .left-part {
            width: 100%;
            padding: 66px 24px;
        }

        .right-part {
            width: 100%;
            padding: 66px 24px;
            position: unset;
            flex-direction: column;

            .close {
                top: 24px;
                content: url('../img/Closewhite.png');
            }

            .initialsCont {
                position: absolute;
                bottom: 50%;
            }

            .userDetails {
                width: 100%;

                .buttonContainer {
                    button:nth-child(1) {
                        padding: 8px 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .editContact {
        height: 100vh;
        border-radius: 0;
        width: 100%;

        .right-part {
            .userDetails {
                .buttonContainer {
                    button:nth-child(1) {
                        padding: 0px;
                    }
                }
            }
        }
    }

    .left-part,
    .right-part {
        flex: 1;
    }

    .initialsContAlt {
        display: block !important;
    }

}

@media (max-width: 420px) and (max-height: 682px) {
    .editContact{
        height: 100%;
        .left-part {
            padding: 0px;
        }
        .right-part {
            padding: 0px;
            .initialsCont {
                top: 20%;
                right: 0%;
            }
        }
    }
}