.closeIconTask {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 64px;
}

.closeIconTask:hover {
    background-color: var(--content-main-color);
    border-radius: 100%;
}

.popupArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.55);
    position: absolute;
    top: 0;
    z-index: 99;
}

.popupEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 525px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    gap: 10px;
}

.editArea {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    overflow: auto;
    height: 700px;
    width: 90%;
    padding-right: 20px;
    scroll-behavior: smooth;
    gap: 10px;
}

.ulArea {
    width: 100%;
    height: 100px;
    background-color: white;
    color: #2A3647;
    overflow: auto;
    overflow-x: none;
    flex-shrink: 0;
}

.liSubTask {
    width: 90% !important;
}

.ulArea::-webkit-scrollbar {
    width: 6px;

}

.ulArea::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    margin-left: 10px;

}

.ulArea::-webkit-scrollbar-button {
    display: none;
}

.editArea::-webkit-scrollbar {
    width: 6px;

}

.editArea::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;

}

.editArea::-webkit-scrollbar-button {
    display: none;
}

.editAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    width: 89px;
    height: 57px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    gap: 4px;
    cursor: pointer;
    transition: 125ms ease-in-out;
    margin-right: 50px;

}

.titleInput {
    width: 100%;
    height: 48px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-size: 20px;

}

.titleInput:focus {
    outline: none;
    border: 1px solid #29ABE2;
    scale: none;
}

.editAdd img {
    width: 24px;
    height: 24px;
}

.editAdd:hover {
    background-color: #29ABE2;
    box-shadow: 0px 3px 5px 1px #a09898;
}

.taskArea {
    width: 1116px;
    height: 870px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 39%;
    left: 11%;
    transform: translateY(-40%);
    animation: taskAnimation 125ms ease-in-out;
    z-index: 99;
}

@keyframes taskAnimation {
    0% {
        transform: translateY(-40%);
        left: 100%;
    }

    100% {
        transform: translateY(-40%);
        left: calc(10%);
    }
}

.contactDrop {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 0 18px 0 18px;
    cursor: pointer;
}

.contactDropData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: auto;
    gap: 2px;
    flex-shrink: 0;

}

.initialsEdit {
    display: flex;
    gap: 2px;
    width: 100%;
    height: 50px;
    
}

.contactDropData::-webkit-scrollbar {
    width: 5px;
}

.contactDropData::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    min-height: 20px;
}

.contactDropData::-webkit-scrollbar-button {
    display: none;
}

.textAreaData {
    width: 100%;
    height: 120px;
    padding: 18px 6px 6px 16px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #D1D1D1;

}

.textAreaData:focus {
    outline: none;
    border: 1px solid #29ABE2;
    scale: none;
}

.DueDate {
    width: 100%;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

.DueDate:focus {
    outline: none;
    border: 1px solid #29ABE2;
    scale: none;
    font-size: 20px;
}

.popupTaskInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 525px;
    min-height: 700px;
    border-radius: 30px;
    background-color: white;
    padding: 48px 40px 48px 40px;
    z-index: 99;
}

.prioArea {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.prioArea span {
    height: 20px;
    font-size: 19px;
    color: #42526E;
}

.prioForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.prioBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 136px;
    height: 56px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}


input[type="radio"] {
    display: none;
}

#urgent:checked+.prioBtn {
    background-color: #FF3D00;
    color: white;
}

#medium:checked+.prioBtn {
    background-color: #FFA800;
    color: white;
}

#low:checked+.prioBtn {
    background-color: #7AE229;
    color: white;
}

#low:checked+.prioBtn img {
    content: url("../img/priolowwhite.png");
}

#medium:checked+.prioBtn img {
    content: url("../img/Priomediumwhite.png");
}

#urgent:checked+.prioBtn img {
    content: url("../img/Priourgentwhite.png");
}

#urgent+.prioBtn:hover {
    background-color: #FF3D00;
    color: white;
    box-shadow: 0px 3px 5px 1px #a09898;
}

#medium+.prioBtn:hover {
    background-color: #FFA800;
    color: white;
    box-shadow: 0px 3px 5px 1px #a09898;
}

#low+.prioBtn:hover {
    background-color: #7AE229;
    color: white;
    box-shadow: 0px 3px 5px 1px #a09898;
}

#urgent+.prioBtn:hover img {
    content: url("../img/Priourgentwhite.png");
}

#medium+.prioBtn:hover img {
    content: url("../img/Priomediumwhite.png");
}

#low+.prioBtn:hover img {
    content: url("../img/priolowwhite.png");
}


.infoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 36px;

}

.infoTitle img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.infoTitle img:hover {
    background-color: #edeaea;
    border-radius: 100%;
}

.popupTitleInfo {
    width: 445px;
    min-height: 150px;
    font-size: 61px;
    font-weight: 700;
}

.descriptionInfo {
    width: 445px;
    min-height: 24px;
    font-size: 20px;
}

.dateInfo {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    height: 24px;
    font-size: 20px;
}

.dateInfo div:nth-child(1) {
    color: #2A3647;
}

.prioInfo {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    height: 32px;
    font-size: 20px;
}

.prioInfo div:nth-child(1) {
    margin-right: 22px;
    color: #2A3647;
}

.prioInfoData {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 139px;
    height: 32px;
    font-size: 20px;
}

.contactInfo {
    width: 445px;
    min-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactInfo span {
    width: 445px;
    height: 24px;
    font-size: 20px;

}


.contactInfoData {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactInfoHeadline {
    color: #2A3647;
}


.range {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 16px;
}

progress {
    width: 128px;
    height: 8px;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    background: #f4f4f4;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #f4f4f4;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background: #4589ff;
    border-radius: 8px;
}

progress::-moz-progress-bar {
    background: #4589ff;
    border-radius: 8px;
}

.range span {
    width: 75px;
    height: 14px;
    display: flex;
    font-size: 12px;
}

.subtastTitle {
    min-width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 16px;

}

.boxinfoEdit {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    width: 42px;
    height: 42px;
    color: white;
    border-radius: 100%;
}

.contactDropCheck {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;


}

.contactDropCheck label>p {
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
}

.checkboxDesignContact {
    display: none;
}

.checkboxDesignContact:checked+div+.contactNameEdit {
    background-color: #2A3647;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;
    padding-left: 10px;
    cursor: pointer;
}

.checkImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 45px;
}



.checkboxDesignContact+div>span {
    content: url("../img/CheckbuttonEmpty.png");
    cursor: pointer;
}

.checkboxDesignContact:checked+div>span {
    content: url("../img/Checkbuttonwhite.png");
    cursor: pointer;
}

.checkboxDesignContact:checked+div {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #2A3647;
    cursor: pointer;
}

.checkboxDesign {
    display: none;
}

.checkboxDesign+span {
    content: url("../img/CheckbuttonEmpty.png");
    cursor: pointer;
}

.checkboxDesign:checked+span {
    content: url("../img/Checkbutton.png");
    cursor: pointer;
}

.subtastTitle label>p {
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
}

.subtaskInfo {
    display: flex;
    flex-direction: column;
    width: 440px;
    min-height: 24px;
    gap: 8px;
}

.subtaskInfo span:nth-of-type(1) {
    font-size: 20px;
    color: #2A3647;
}

.contactArea {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 445px;
    height: 56px;
}

.editInfo {
    display: flex;
    justify-content: end;
    width: 445px;
    height: 24px;
}

.editInfoData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 24px;
    gap: 8px;
}

.editInfoData div {
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
    transition: 125ms ease-in-out;
}

.deletePic:hover {
    content: url("../img/delethovertask.png");
}

.editPic:hover {
    content: url("../img/edithovertask.png");
}

.labelInfo {
    font-size: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.labelContact {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.labelContact:nth-of-type(1) {
    margin-top: 12px;
}

.labelInfo:hover {
    background-color: #efeeee;
    border-radius: 8px;
    cursor: pointer;
}

.labelContact:hover {
    background-color: #efeeee;
    border-radius: 8px;
    cursor: pointer;
}

.contactNameEdit {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}

#arrowContactDrop {
    transition: transform 0.3s;
}

#arrowContactDrop:hover {
    background-color: #D1D1D1;
    border-radius: 100%;
}

.rotate {
    transform: rotate(180deg);
}

.emptySearch {
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
    padding-left: 200px;
    width: 100%;

    font-size: 20px;
    color: #FF3D00;
}

.drag-area-highlight {
    border: 1px black dashed;
    border-radius: 10px;
}

.subtaskAreaData{
    height: 100px;
    overflow: auto;
}

.subtaskAreaData::-webkit-scrollbar {
    width: 6px;
}

.subtaskAreaData::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    margin-left: 10px;
}

.subtaskAreaData::-webkit-scrollbar-button {
    display: none;
}