.headlineBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 232px;
    max-width: 1208px;
    padding-top: 64px;

}

.content {
    padding: 0 64px 0 64px;
    max-width: 1440px;
}

.headlinbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1056px;
    height: 73px;

}

.headlinbar span {
    font-size: 61px;
    font-weight: bold;

}

.btnBoardTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    background-color: var(--sideheader-main-color);
    cursor: pointer;
    border-radius: 10px;
}

.btnBoardTask button {
    width: 92px;
    height: 24px;
    background-color: var(--sideheader-main-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;

}

.searchBar {
    display: flex;
    gap: 32px;
    height: 48px; ;
    width: 504px;

}

.inputArea {
    display: flex;
    align-items: center;
    width: 312px;
    height: 48px;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;

}


.inputArea input {
    height: 32px;
    flex: 1;
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 400;

}

.inputArea input:focus {
    outline: none;
}

.inputImgArea {
    display: flex;
    justify-content: end;
    background-color: white;
    width: 48px;
    height: 32px;
    border-left: 1px solid #b2b2b2;
    cursor: pointer;
}

.headlineDragMain {
   max-width: 1208px;
    height: 24px;
    display: flex;    
    align-items: center;    
    gap: 35px;
}

.headlineDrag {
    width: 244px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.headlineDrag span {
    font-size: 20px;
    font-weight: 700;
    color: #42526E;
}

.dragAndDropBoard{
    display: flex;
    width: 1208px;
    height: 688px;
    gap: 16px;
}

.dragAndDropBoardArea{
    
    width: 246px;
    height: 688;
    overflow: auto;
}

.emptyBoardArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 48px;    
    border-radius: 10px;
    background-color:#E7E7E7;
    border: 1px dashed black;
}