.heading {
    display: flex;
    justify-content: space-between;
    font-size: 61px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    font-size: 61px;
    font-weight: 700;
    margin-top: 86px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.mainSubmition {
    display: flex;
    justify-content: center;
}

.partition {
    width: 0px;
    height: 424px;
    margin-inline: 32px;
    border: 1px solid #D1D1D1;
}

.leftSubmition {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 440px;
    height: 376px;
}

.smallHead {
    font-size: 20px;
    font-weight: 400;
    width: 440px;
    height: 24px;
    display: flex;
}



.imp {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FF8190;
}

.title {
    display: flex;
    width: 440px;
    height: 96px;
    gap: 8px;
    flex-direction: column;
}

.description {
    display: flex;
    width: 440px;
    height: 168px;
    gap: 8px;
    flex-direction: column;
}

.titleTxt {
    width: 440px;
    height: 48px;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.descriptionTxt {
    display: flex;
    padding: 18px 16px 18px 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    max-width: 440px;
    height: 120px;
}

.assign {
    width: 440px;
    height: 80px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 32px;
}

.assignment {
    justify-content: space-between;
    width: 440px;
    height: 48px;
    background: #FFFFFF;
    padding: 12px 16px 12px 16px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.rightSubmition {
    width: 440px;
    height: 48px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
}

.dueDate {
    width: 440px;
    height: 96px;
    gap: 8px;
}

.dueDateTxt {
    width: 440px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    border: 1px;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}



.subtasksTxt {
    width: 440px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    justify-content: space-between;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contentFeet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 89px;
    margin-left: 95.25px;
    margin-right: 95.25px;
    gap: 16px;
}

.submitionButtons {
    width: 309px;
    height: 56px;
    top: 889px;
    left: 995.25px;
    gap: 16px;
    display: flex;
}

.secondary {
    cursor: pointer;
    width: 126px;
    height: 56px;
    padding: 16px;
    gap: 4px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    animation: Instant;
    animation-duration: 10ms;
    color: #2A3647;
}

.primaryCheck {
    cursor: pointer;
    width: 183px;
    height: 56px;
    padding: 16px 0px 16px 16px;
    gap: 4px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    background: #2A3647;
    color: #FFFFFF;
    animation: Move in Bottom;
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
}

.primevect {
    width: 24px;
    height: 24px;
}

.primaryCheck .smallHead {
    font-weight: 700;
}

.closeIconTask {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 64px;
}

.closeIconTask:hover {
    background-color: var(--content-main-color);
    border-radius: 100%;
}

.popupArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.55);
    position: absolute;
    top: 0;
    z-index: 4;
}

.taskArea {
    width: 1116px;
    height: 870px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 39%;
    left: 11%;
    transform: translateY(-40%);
    animation: taskAnimation 125ms ease-in-out;
    z-index: 1;
}

@keyframes taskAnimation {
    0% {
        transform: translateY(-40%);
        left: 100%;
    }

    100% {
        transform: translateY(-40%);
        left: calc(10%);
    }
}

.btnUrgnt {
    background-color: #FF3D00;
    color: white;
}

.btnMed {
    background-color: #FFA800;
    color: white;
}

.btnLow {
    background-color: #7AE229;
    color: white;
}

.prio {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 88px;
    gap: 8px;

}

.prioBtns {
    display: flex;
    gap: 16px;
}


/* Small Task Info */

.popupArea2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.55);
    position: absolute;
    top: 0;
    z-index: 4;
}


.popupTaskInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 525px;
    min-height: 871px;
    border-radius: 30px;
    background-color: white;
    padding: 48px 40px 48px 40px;
}

.infoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 36px;

}

.infoTitle img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popupTitleInfo {
    width: 445px;
    min-height: 150px;
    font-size: 61px;
    font-weight: 700;
}

.descriptionInfo {
    width: 445px;
    height: 24px;
    font-size: 20px;
}

.dateInfo {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    height: 24px;
    font-size: 20px;
}

.dateInfo div:nth-child(1) {
    color: #2A3647;
}

.prioInfo {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    height: 32px;
    font-size: 20px;
}

.prioInfo div:nth-child(1) {
    margin-right: 22px;
    color: #2A3647;
}

.prioInfoData {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 139px;
    height: 32px;
    font-size: 20px;
}

.contactInfo {
    width: 445px;
    min-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactInfo span {
    width: 445px;
    height: 24px;
    font-size: 20px;

}


.contactInfoData {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactInfoHeadline {
    color: #2A3647;
}


.range {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 16px;
}

progress {
    width: 128px;
    height: 8px;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    background: #f4f4f4;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #f4f4f4;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background: #4589ff;
    border-radius: 8px;
}

progress::-moz-progress-bar {
    background: #4589ff;
    border-radius: 8px;
}

.range span {
    width: 75px;
    height: 14px;
    display: flex;
    font-size: 12px;
}

.subtastTitle {
    min-width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}


.checkboxDesign {
    display: none;
}

.checkboxDesign+span {
    display: inline-block;
    content: url("../img/CheckbuttonEmpty.png");
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;

}

.checkboxDesign:checked+span {
    content: url("../img/Checkbutton.png");
}

.subtastTitle label>p {
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
}

.subtaskInfo {
    display: flex;
    flex-direction: column;
    width: 440px;
    min-height: 24px;
    gap: 8px;
}

.subtaskInfo span:nth-of-type(1) {
    font-size: 20px;
    color: #2A3647;
}

.contactArea {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 445px;
    height: 56px;

}

.editInfo {  
    display: flex;
    justify-content: end; 
     
    width: 445px;
    height: 24px;
}


.editInfoData{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 159px;
    height: 24px;
    gap: 8px;
}

.editInfoData div{
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
}

.deletePic:hover{
content: url("../img/delethovertask.png");
}
.editPic:hover{
    content: url("../img/edithovertask.png");
}

.labelInfo {
    font-size: 20px;
    padding-right: 20px;
    text-align: left;
    display: flex;
}

.labelInfo:hover:hover{
    background-color:#efeeee ;
    border-radius: 8px;
}