.closeIconTask {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 64px;
}

.closeIconTask:hover {
    background-color: var(--content-main-color);
    border-radius: 100%;
}

.popupArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.55);
    position: absolute;
    top: 0;
    z-index: 99;
}

.popupEdit{  
    width: 525px;
    height: 800px;  
    background-color: white;
    border-radius: 30px;    
    overflow:auto;
    scrollbar-width: none;
    padding-bottom: 10px;
}

.editArea{
    margin-top: 30px;
    margin-left: 10px;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 95%;
    height:  800px;  
       
}
.prioBtns{
    justify-content: center;
}


.editAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:end;
    width:89px;
    height: 57px;
    border-radius: 10px;
    background-color: #2A3647; 
    color: white;
    font-size: 21px;
    gap: 10px;
    cursor: pointer;
    transition: 125ms ease-in-out ;
    margin-right: 30px;
    
    
}
.editAdd img{
    width: 24px;
    height: 24px;
}
.editAdd:hover{
    background-color:#29ABE2 ;
    box-shadow: 0px 3px 5px 1px #a09898;

}

.taskArea {
    width: 1116px;
    height: 870px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 39%;
    left: 11%;
    transform: translateY(-40%);
    animation: taskAnimation 125ms ease-in-out;
    
    z-index: 99;
}

@keyframes taskAnimation {
    0% {
        transform: translateY(-40%);
        left: 100%;
    }

    100% {
        transform: translateY(-40%);
        left: calc(10%);
    }
}

@keyframes taskCloseAnimation {
    0% {
        transform: translateY(-40%);
        left: calc(10%);
    }

    100% {
        transform: translateY(-40%);
        left: 100%;
    }
}

.btnUrgnt {
    background-color: #FF3D00;
    color: white;
}

.btnMed {
    background-color: #FFA800;
    color: white;
}

.btnLow {
    background-color: #7AE229;
    color: white;
}

.prio {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 88px;
    gap: 8px;

}

.prioBtns {
    display: flex;
    gap: 16px;
}





.popupTaskInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 525px;
    min-height: 700px;
    border-radius: 30px;
    background-color: white;
    padding: 48px 40px 48px 40px;
    z-index: 99;
}

.infoTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 36px;

}

.infoTitle img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.infoTitle img:hover {
    background-color: #edeaea;
    border-radius: 100%;
}

.popupTitleInfo {
    width: 445px;
    min-height: 150px;
    font-size: 61px;
    font-weight: 700;
}

.descriptionInfo {
    width: 445px;
    min-height: 24px;
    font-size: 20px;
}

.dateInfo {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    height: 24px;
    font-size: 20px;
}

.dateInfo div:nth-child(1) {
    color: #2A3647;
}

.prioInfo {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    height: 32px;
    font-size: 20px;
}

.prioInfo div:nth-child(1) {
    margin-right: 22px;
    color: #2A3647;
}

.prioInfoData {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 139px;
    height: 32px;
    font-size: 20px;
}

.contactInfo {
    width: 445px;
    min-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactInfo span {
    width: 445px;
    height: 24px;
    font-size: 20px;

}


.contactInfoData {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactInfoHeadline {
    color: #2A3647;
}


.range {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 16px;
}

progress {
    width: 128px;
    height: 8px;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    background: #f4f4f4;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #f4f4f4;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background: #4589ff;
    border-radius: 8px;
}

progress::-moz-progress-bar {
    background: #4589ff;
    border-radius: 8px;
}

.range span {
    width: 75px;
    height: 14px;
    display: flex;
    font-size: 12px;
}

.subtastTitle {
    min-width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 16px;

}

.checkboxDesign {
    display: none;
}

.checkboxDesign+span {
    content: url("../img/CheckbuttonEmpty.png");
    cursor: pointer;
}

.checkboxDesign:checked+span {
    content: url("../img/Checkbutton.png");
    cursor: pointer;
}

.subtastTitle label>p {
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
}

.subtaskInfo {
    display: flex;
    flex-direction: column;
    width: 440px;
    min-height: 24px;
    gap: 8px;
}

.subtaskInfo span:nth-of-type(1) {
    font-size: 20px;
    color: #2A3647;
}

.contactArea {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 445px;
    height: 56px;
}

.editInfo {
    display: flex;
    justify-content: end;
    width: 445px;
    height: 24px;
}

.editInfoData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 24px;
    gap: 8px;
}

.editInfoData div {
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;
    transition: 125ms ease-in-out;
}

.deletePic:hover {
    content: url("../img/delethovertask.png");
}

.editPic:hover {
    content: url("../img/edithovertask.png");
}

.labelInfo {
    font-size: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.labelInfo:hover:hover {
    background-color: #efeeee;
    border-radius: 8px;
}

.emptySearch {
    display: flex;
    justify-content: center;
    position: relative;
    top: -45px;
    padding-left: 200px;
    width: 100%;

    font-size: 20px;
    color: #FF3D00;
}

.drag-area-highlight {
    border: 1px black dashed;
    border-radius: 10px;
}