:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
    --button-hover-color: #29ABE2;
    --item-hover-color: #F8F8F8;
    --details-font-color: #007CEE;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    max-width: 1440px;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 352px;
    max-height: 100vh;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 32px 24px 32px 24px;
}

.btn-image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    gap: 16px;
    width: 300px;
    height: 50px;
    background-color: var(--sideheader-main-color);
}

.btn-image button {
    background: transparent;
    color: white;
    border: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    padding: 12px 0 12px 0;
    cursor: pointer;
}

.btn-image:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.btn-image img {
    width: 32px;
    height: 32px;
}

.contact-group {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.contactArea h2 {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    color: black;
}

.active2 {
    cursor: pointer;
    border-radius: 10px;
    color: black;
}

.contact-item:not(.active-contact):hover {
    border-radius: 10px;
    background-color: #F6F7F8;
    color: black;
}

.active-contact {
    background-color: var(--sideheader-main-color);
    color: white;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
}

.avatar span {
    color: white;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contact-container-right {
    margin-top: 70px;
    margin-left: 40px;
}

.contact-text {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-text h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.contact-text p {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
}

.contact-ellipse {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 54px;
    margin-top: 20px;
}

.contact-ellipse2 {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 47px;
    line-height: 56.4px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.contact-mini {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-mini h1 {
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 500;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 22px;
    border-radius: 10px;
}

.contact-info h2 {
    font-size: 24px;
    color: #333;
}

.contact-info p {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    color: #000000;
    margin: 5px 0;
}

.CI-info {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.editimage {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}

.editimages:hover {
    content: url("../img/edithovertask.png");
}

.editimages2:hover {
    content: url("../img/delethovertask.png");
}

.contact-slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards ease;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.changemycolor {
    color: var(--details-font-color);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    display: flex;
    background: white;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation: ShowPopupAni 0.1s forwards;
}

@keyframes ShowPopupAni {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.popup-left {
    background-color: #2A3647;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 66px 48px 66px 48px;
}

.popup-left .logo img {
    width: 55.6px;
    height: 66.48px;
}

.popup-left .underline-img {
    height: 4px;
    background-color: #29abe2;
    width: 90px;
    border-radius: 3px;
}

.popup-left h2 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.popup-left p {
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

.popup-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 750px;
    position: relative;
}

.popup-right .close-btn {
    position: absolute;
    top: 48px;
    right: 30px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.popup-right .close-btn:hover {
    background: #eeeeee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 2ms;
}

.popup-right .form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.popup-right .form-group .input-images {
    width: 24px;
    height: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container {
    position: relative;
}

.input-container input {
    padding: 13px 21px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.input-container input:focus{
    outline: none;
    border: 1px solid #D1D1D1;
}

input::placeholder {
    color: #D1D1D1;
}

.input-container:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
}

.input-container:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../img/mail.png');
    background-repeat: no-repeat;
}

.input-container:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url('../img/call.png');
    background-repeat: no-repeat;
}

.popup-actions {
    display: flex;
    gap: 20px;
}

.cancelbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sideheader-main-color);
    background: none;
    border-radius: 10px;
    width: 126px;
    height: 56px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: var(--sideheader-main-color);
}

.cancel-icon {
    display: flex;
    gap: 4px;
    width: 24px;
    height: 24px;
    background-image: url('../img/SecondaryVector.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.cancelbutton:hover {
    border: 1px solid var(--button-hover-color);
    color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.cancelbutton:hover .cancel-icon {
    background-image: url('../img/ScndryVectHvr.png');
}

.popup-actions .createbuttoncontact {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 24px;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.popup-actions .createbuttoncontact {
    background: #2A3647;
    color: white;
}

.popup-actions .createbuttoncontact:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.overlay.show {
    display: flex;
}

.activeContact {
    content: url("../img/IconsContact.png");
}