:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    width: 100%;
    height: 100%;
}

.content {
    padding: 4rem 4rem 0 4rem;
    max-width: 1440px;
}

.text-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-arrow img {
    object-fit: cover;
    width: 37px;
    height: 37px;
}

.text-2 h1 {
    font-size: 3.813rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: 700;
}

.text-2 h2 {
    font-size: 1.688rem;
}

.text-2 p {
    font-size: 1rem;
    font-weight: 400;
}

.text-2 h3 {
    font-size: 1.5rem;
}

.text-2 {
    height: 740px;
    overflow: auto;
}

.arrow-sticky {
    position: sticky;
}