.b-orange {
    background-color:  #FF7A00;
}

.b-purple {
    background-color: #9327FF;
}

.b-hellpurple {
    background-color: #6E52FF;
}

.b-pink {
    background-color: #FC71FF;
}

.b-gelb {
    background-color: #FFBB2B;
}

.b-turkis {
    background-color: #1FD7C1;
}

.b-rosa {
    background-color: #FF5EB3;
}

.b-hellblau {
    background-color: #00BEE8;
}

.b-rotorange {
    background-color: #FF745E;
}

.b-hellorange {
    background-color: #FFA35E;
}

.b-dunkelgelb {
    background-color: #FFC701;
}

.b-blau {
    background-color: #0038FF;
}

.b-rot {
    background-color: #FF4646;
}

.b-neongelb {
    background-color: #FFE62B;
}

.b-neongrün {
    background-color: #C3FF2B;
}

.b-neonorange {
    background-color: #FFBB2B;
}