:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
    --button-hover-color: #29ABE2;
    --item-hover-color: #F8F8F8;
    --details-font-color: #007CEE;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 80px;
    right: 77px;
}

.topline {
    display: flex;
    align-items: center;
    gap: 35px;
}

header .topline p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

header .topline .login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 16px 15px 16px;
    width: 95px;
    height: 49px;
    border-radius: 8px;
    border: none;
    background-color: var(--sideheader-main-color);
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    gap: 10px;
    cursor: pointer;
}

header .topline .login a {
    text-decoration: none;
    color: white;
}

header .topline .login:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.Screen-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    animation: logoScreen 1.5s forwards;
    animation-timing-function: ease;
    z-index: 1000;
}

.join-logo {
    position: absolute;
    width: 101px;
    height: 121px;
    top: 33%;
    left: 42%;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation: JoinlogoScreen 1.5s forwards;
}

@keyframes JoinlogoScreen {
    from {
        top: 50%;
        left: 50%;
        width: 274px;
        height: 334px;
    }
    to {
        top: 190px;
        left: 150px;
        width: 101px;
        height: 121px;
    }
}

@keyframes logoScreen {
    from {
        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    to {
        display: block;
        transform: scale(0.5) translate(-50%, -50%);
        opacity: 1;
    }
}

.loginarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.loginheadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.loginheadline .textline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.loginheadline .underlineLogin {
    width: 150px;
    border: 3px;
}

.loginarea form .custome-input {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.loginarea form .custome-input input {
    color: #D1D1D1;
    font-size: 20px;
    padding: 13px 21px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 10px;
    outline: none;
}

.loginarea form .custome-input input:focus{
    border-color: #D1D1D1;
}

.loginarea form .custome-input .socialicons {
    position: absolute;
    font-size: 24px;
    right: 14px;
    top: 14px;
}

input::placeholder {
    color: #D1D1D1;
}

.loginarea form .check-container {
    display: flex;
    margin-left: 39px;
    gap: 8px;
}

.loginarea form .check-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.loginarea form .btns {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.loginarea form .btns .login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 120px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: var(--sideheader-main-color);
    color: white;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.loginarea form .btns .login:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.loginarea form .btns .guestlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 178px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--sideheader-main-color);
    background: transparent;
    color: var(--sideheader-main-color);
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.loginarea form .btns .guestlogin a {
    text-decoration: none;
    color: var(--sideheader-main-color);
}

.loginarea form .btns .guestlogin a:hover {
    color: var(--button-hover-color);
    background-color: white;
}

.loginarea form .btns .guestlogin:hover {
    background-color: white;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    color: var(--button-hover-color);
    border: 1px solid var(--button-hover-color);
}

footer .footercontent {
    position: absolute;
    bottom: 0;
    left: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}

.footercontent h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
    cursor: pointer;
}

.footercontent h3:hover {
    color: var(--button-hover-color);
    font-weight: bold;
}