@media(max-width: 1300px) {
    .contentTask {
        overflow: scroll;
        margin-bottom: 142px;
        height: 100%;
    }

    .overDisplay {
        flex-direction: column-reverse;
    }

}

@media(max-width: 1020px) {}