@media (min-width: 1301px) {
    .content {
        padding: 0;
    }
    .mini-add-contact{
        display: none;
    }
    .mainDesign{
        width: 100%;
    }
    .arrowContact{
        display: none;
    }
    .contact-text img{
        content: url("../img/Vectorstrich.png");
              
    }
    
}


@media(min-width: 801px) and (max-width:1300px){
    .content {
        padding: 0;
    }

    .container {
        justify-content: initial;
    }

    .header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .header span {
        width: 34px;
    }

    .picHelp {
        display: none;
    }

    .mini-add-contact{
        display: none;
    }
    .arrowContact{
        display: none;
    }
    .contact-text img{
        content: url("../img/Vectorstrich.png");
              
    }
}

@media(max-width: 800px) {
    .asideMenu:nth-of-type(4) {
        padding: 0;
        border-radius: 10px;
    }

    .header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .mainDesign {
        height: 100%;
        width: 100%;
    }

    .contact-group{
        width: 60%;
    }

    .header span {
        width: 34px;
    }

    .content {
        padding: 0;
        width: 100%;
    }

    .picHelp {
        display: none;
    }

    .container {
        overflow: auto;
        width: 100%;
    }    

    .contactArea{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact-container-right {
        display: none;
    }

    .container.hidden {
        display: none;
    }

    .contact-container-right.OnDetails {
        display: block;
    }
    .contact-text{
        flex-direction: column;
        align-items: start;
        gap: 10px;

    }

    .contact-text img{
        content: url("../img/unterstrichvector.png");
        order: 3;       
    }
    .editimage{
        display: none;
    }
    .popup{
        flex-direction: column;
        width: 467px;
       
    }
   
    .contact-ellipse{
        scale: 0.7;
        transform: translate(-150px);
       
    }
    .contact-info{
        padding-left: 0;
    }
    .arrowContact{
        position: fixed;
        top: -220px;
        right: -200px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
  
}



@media(max-width: 390px) {
    .container {
        width: 100%;
        overflow: auto;
    }
    .contact-slide-in{
        height: 300vh;
        
    }
    .content{
        
        height: 300vh;
        overflow: auto;
    }

    .contact-text {
        display: block;
    }
    .contact-container-right{
        padding-left: 10px;
        margin-left: 0;
        margin-top: 50px;
    }

    .contact-text h1 {
        font-size: 35px;
    }
    .arrowContact{
        position: fixed;
        top: -220px;
        right: -100px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .contact-ellipse{
        scale: 0.6;
        transform: translate(-100px);
       
    }
}

@media(max-width: 320px) {
    .popup-test {
        display: block;
    }

    .btn-image {
        display: none;
    }

    .mini-add-contact {
        display: block;
    }

    .contact-text {
        display: block;
    }

    .contact-text h1 {
        font-size: 35px;
    }
}
