@media (min-width: 1301px) {
    .content {
        padding: 0;
    }

    .mini-add-contact {
        display: none;
    }

    .mainDesign {
        width: 100%;
    }

    .arrowContact {
        display: none;
    }

    .contact-text img {
        content: url("../img/Vectorstrich.png");
    }
}

@media(min-width: 801px) and (max-width:1114px) {
    .popupEdit {
        width: 700px;
    }

    .closeBtnEdit {
        right: 20px;
    }

    #contactFormEdit {
        margin-left: 0;
    }

    .contact-ellipse2 {
        width: 90px;
        height: 90px;
        font-size: 30px;
    }
}

@media(min-width: 1114px) and (max-width:1350px) {
    .popupEdit {
        width: 1000px;
    }

    .closeBtnEdit {
        right: 20px;
    }
}

@media(min-width: 801px) and (max-width:1300px) {
    .content {
        padding: 0;
    }


    .container {
        justify-content: initial;
    }

    .header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .header span {
        width: 34px;
    }

    .popup {
        width: 1000px;
        height: 592px;
        animation: slideIn 0.5s forwards ease;
    }

    .popup-right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .picHelp {
        display: none;
    }

    .mini-add-contact {
        display: none;
    }

    .arrowContact {
        display: none;
    }

    .contact-text img {
        content: url("../img/Vectorstrich.png");
    }

    .asideMenu:nth-of-type(4) {
        padding: 0;
        border-radius: 10px;
    }

    .contact-container-right {
        margin-left: 20px;
    }

    .contact-mini {
        width: 70%;
    }
}

@media(max-width: 800px) {
    .asideMenu:nth-of-type(4) {
        padding: 0;
        border-radius: 10px;
    }

    .header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .mainDesign {
        height: 100%;
        width: 100%;
    }

    .contact-group {
        width: 100%;
    }

    .header span {
        width: 34px;
    }

    .content {
        padding: 0;
        width: 100%;
    }

    .picHelp {
        display: none;
    }

    .container {
        overflow: auto;
        width: 100%;
    }

    .contact-container-right {
        display: none;
    }

    .container.hidden {
        display: none;
    }

    .contact-container-right.OnDetails {
        display: block;
    }

    .contact-text {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .contact-text img {
        content: url("../img/unterstrichvector.png");
        order: 3;
    }

    .editimage {
        display: none;
    }

    .popup {
        flex-direction: column;
        width: 380px;
        animation: slideInMobile 0.5s forwards ease;
    }

    .popup-left {
        .logo {
            display: none;
        }

        h2 {
            font-size: 47px;
            line-height: 56.4px;
        }

        p {
            display: none;
        }

        border-bottom-left-radius:0 ;
        border-top-right-radius: 30px;
    }

    .popup-right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .popup-right .close-btn {
        top: -170px;
        content: url("../img/Closewhite.png");
    }

    .popup-actions {
        justify-content: center;
    }

    .contact-ellipse {
        scale: 0.7;
        transform: translate(-100px);
        margin-top: 0;
    }

    .contact-info {
        padding-left: 0;
        padding-top: 0;
    }

    .arrowContact {
        position: fixed;
        top: -220px;
        right: -100px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .popupEdit {
        animation: slideInMobile 0.5s forwards ease;
        width: 396px;
        flex-direction: column;
        height: 760px;
    }

    .logoEdit {
        display: none;
    }

    .popupEditLeft {
        width: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        height: 351px;
        padding: 24px;
    }

    .popupEditLeft h2 {
        font-size: 47px;
    }

    .popupEditRight {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .popupEditRight span {
        position: relative;
        top: -40%;
        left: 0%;
    }

    #contactFormEdit button {
        scale: 0.8;
    }

    #contactFormEdit .popup-actions {
        width: 364px;
    }

    #contactFormEdit {
        margin-top: 0px;
    }

    .EditInput {
        width: 364px;
        gap: 24px;
        margin-bottom: 10px;
    }

    .closeBtnEdit {
        top: -700px;
        right: -150px;
    }

    .closeBtnEdit img {
        content: url("../img/Closewhite.png");
    }

    .cancelbutton {
        display: none;
    }

    .contact-mini {
        width: 50%;
    }
}

@media(max-width: 390px) {
    .container {
        width: 100%;
        overflow: auto;
        padding: 0;
    }

    .contact-slide-in {
        height: 300vh;
    }

    .content {
        height: 300vh;
    }

    .contact-text {
        display: block;
    }

    .contact-container-right {
        padding-left: 10px;
        margin-left: 0;
        margin-top: 0px;
        overflow: auto;
    }

    .contact-text h1 {
        font-size: 35px;
    }

    .arrowContact {
        position: fixed;
        top: -220px;
        right: -100px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .contact-ellipse {
        scale: 0.6;
        transform: translate(-100px);
    }

    .popup {
        width: 300px;
        animation: slideInMobile 0.5s forwards ease;
        margin: 50px 22px 0 0;
    }

    .form-group {
        width: 250px;
    }

    .cancelbutton {
        display: none;
    }

    .popup-left h2 {
        font-size: 30px;
    }

    .contact-ellipse2 {
        width: 100px;
        height: 100px;
        font-size: 30px;
    }

    .elipse img {
        width: 100px;
    }

    .CI-info {
        margin-top: 0;
        margin-bottom: 0;
    }

    .contact-info p {
        margin: 0;
    }

    .contact-text p {
        font-size: 20px;
    }
}

@media(max-width: 320px) {
    .popup-test {
        display: block;
    }

    .btn-image {
        display: none;
    }

    .contact-text {
        display: block;
    }

    .contact-text h1 {
        font-size: 35px;
    }

    .mini-personadd-contact {
        display: flex;
        position: absolute;
        bottom: 90px;
    }
}

@media (min-width: 200px) and (max-width:460px) {
    .popupEdit {
        animation: slideInMobile 0.5s forwards ease;
        width: 300px;
        flex-direction: column;
        height: 500px;
        left: 3%;
    }

    .closeBtnEdit {
        top: -530px;
        right: -110px;
    }

    .popupEditRight span {
        position: relative;
        top: -20%;
        left: 0%;
        scale: 0.7;
    }

    .popupEditLeft h2 {
        font-size: 35px;
    }

    .EditInput {
        width: 90%;
        gap: 2px;
        scale: 0.9;
        transform: translate(0, -30px);
    }

    #contactFormEdit {
        width: 100%;
        margin: 0;
        padding-left: 20px;
    }

    #contactFormEdit .popup-actions {
        scale: 0.7;
        transform: translate(-70px, -60px);
    }

    .mini-personadd-contact {
        width: 64px;
        display: flex;
        position: absolute;
        bottom: 90px;
        height: 64px;
        left: 320px;
        cursor: pointer;
    }

    .btn-image {
        display: none;
    }

    .mini-add-contact {
        border: none;
        background: none;
        padding-right: 50px;
        width: 100%;
        height: 60px;
        position: fixed;
        left: 0;
    }
}