@media(max-width:563px) {
    .content {
      min-height: 240vh;
    }
    .popupEdit{
        width: 300px;
        height: 700px;
    }
    .prioForm{
        scale: 0.7;
    }
    .labelContact{
        scale: 0.9;
    }
    .contactNameEdit p{
        font-size: 12px;
    }
    .liSubTask{
        scale: 0.9;
    }
    .editAdd{
        scale: 0.8;
    }
    .contactDrop{
        font-size: 14px;
    }
    .substart2{
        font-size: 14px;
    }

    .popupTaskInfo {
        width: 300px;
        height: 700px;
        gap: 15px;
    }

    .infoTitle {
        width: 300px;
        justify-content: start;

    }

    .infoTitle img {
        margin-left: 30px;
    }

    .popupTitleInfo {
        width: 220px;
        font-size: 20px;
        min-height: 50px;
    }

    .descriptionInfo {
        width: 220px;
        min-height: 24px;
        padding-right: 20px;
        margin-bottom: 10px;
    }

    .boxinfo {
        width: 30px;
        height: 30px;
    }

    .contactInfo {
        width: 200px;
    }
    

    .contactInfo span {
        font-size: 18px;
        width: 180px;
        height: auto;
    }

    .contactInfoData {
        width: 200px;
        overflow: auto;        
        padding: 0;
        flex-shrink: 0;
    }
    .contactInfoData::-webkit-scrollbar {
        width: 5px;
    }
    
    .contactInfoData::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        min-height: 20px;
        cursor: pointer;
    }
    
    .contactInfoData::-webkit-scrollbar-button {
        display: none;
    }
    

    .contactArea {
        width: 180px;
        gap: 15px;
    }

    .subtaskInfo {
        width: 220px;
        height: 200px;
        gap: 0;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .subtaskAreaData {
        width: 220px;
        height: 100px;
        overflow: auto;
        margin-top: 10px;       
        scroll-behavior: smooth;
        flex-shrink: 0;
    }
    .subtaskTitle{
        height: 35px;
    }

    .subtaskAreaData span {
        display: flex;
        align-items: center;
        width: 24px;
        height: 24px;
    }

    .subtastTitle {
        min-height: 50px;
    }

    .editInfo {
        justify-content: end;
        width: 220px;
    }

    .bgInfo_user {
        width: 100px;
        height: 20px;
    }
}

@media (max-width:800px){

    .popupArea {
        position: fixed;      

    }    

    .overDisplay {
        display: flex;
        flex-direction: column-reverse;
    }

    .searchBar {
        width: 100%;
        padding-right: 10px;
    }
    .emptySearch {
        justify-content: start;
        top: 12px;
        padding: 20px;
    }
    .emptyBoardArea {
        width: 100%;
    }
    .dragAndDropBoard {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .dragAndDropBoardArea {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
        overflow: auto;
        min-height: 48px;
        scrollbar-width: none;
    }

    .dragAndDropBoardArea::-webkit-scrollbar {
        width: 0;
    }

    .dragAndDropBoardArea:hover {
        overflow: auto;
        scrollbar-width: thin;
    }

    .headlineDrag {
        padding-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        height: 32px;
    }

    .headlineDrag span {
        font-size: 27px;
        color: #2A3647;
    }

    .headlineDrag img {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    .taskAreaMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .headlinbar {
        flex-wrap: wrap;
    }

    .btnBoardTask {
        display: none;
    }

    .mobileBtnAdd {
        display: flex;
        justify-content: center;
        width: 100px;
        cursor: pointer;
        padding-left: 20px;
    }

    .inputArea input {
        width: 100%;
    }

    .inputArea {
        width: 97%;
    }

    .inputSearch {
        width: 100%;
    }

    .inputImgArea {
        padding-right: 10px;
    }
    html{
        max-height: 100%;
    }
}

@media(min-width: 801px) and (max-width:1300px){
    .taskArea{
        position: absolute;
        top: 39%;
        left: 2%;
        width: 1050px;

    }

    .overDisplay {
        display: flex;
        flex-direction: column-reverse;
    }

    .searchBar {
        margin-right: 10px;
    }

    .emptySearch {
        padding-left: 50px;
    }
    .emptyBoardArea {
        width: 100%;
    }
    .popupArea {
        position: fixed;
        
    }
    .dragAndDropBoard {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .dragAndDropBoardArea {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
        overflow: auto;
        min-height: 48px;
        scrollbar-width: none;
    }

    .dragAndDropBoardArea::-webkit-scrollbar {
        width: 0;
    }

    .dragAndDropBoardArea:hover {
        overflow: auto;
        scrollbar-width: thin;
    }

    .headlineDrag {
        padding-top: 15px;
        margin-bottom: 15px;
        width: 96%;
        height: 32px;
    }

    .headlineDrag span {
        font-size: 27px;
        color: #2A3647;
    }

    .headlineDrag img {
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    .taskAreaMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mobileBtnAdd {
        display: none;
    }
}
@media(min-width:1301px) and (max-width:1439px){

    .emptySearch {
        padding-left: 90px;
    }
    .dragAndDropBoard {
        width: calc(1208px - 128px);
        gap: 8px;
    }

    .headlineDrag {
        width: 230px;
    }

    .dragAndDropBoardArea {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .dragAndDropBoardArea::-webkit-scrollbar {
        display: none;
    }

    .arrowImg {
        display: none;
    }
    .mobileBtnAdd {
        display: none;
    }
    .dragAndDropBoard {
        width: 100%;
        gap: 8px;
    }

    .headlineDrag {
        width: 230px;
    }
}

@media(min-width:1439px) {
    .content {
        padding: 0 64px 0 64px;
        max-width: 1208px;
    }

    .dragAndDropBoardArea {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .dragAndDropBoardArea::-webkit-scrollbar {
        display: none;
    }

    .arrowImg {
        display: none;
    }

    .mobileBtnAdd {
        display: none;
    }
}

@media(min-width:1439px) {
    .content {
        padding: 0 64px 0 64px;
        max-width: 1208px;
    }
}