@media(max-width: 1300px) {
    .contentTask {
        overflow: scroll;
        margin-bottom: 142px;
        height: 100%;
    }

    .overDisplay {
        flex-direction: column-reverse;
    }

    form{
        align-items: center;
        margin-left: 0px;
    }
}

@media(max-width: 1020px) {
    .formular{
        gap: 28px;
    }
}