@media (min-width: 1301px) {
    .content {
        padding: 0;
    }
    .mini-add-contact{
        display: none;
    }
    .mainDesign{
        width: 100%;
    }
    .arrowContact{
        display: none;
    }
    
}


@media(min-width: 801px) and (max-width:1300px){
    .content {
        padding: 0;
    }

    .container {
        justify-content: initial;
    }

    .header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .header span {
        width: 34px;
    }

    .picHelp {
        display: none;
    }

    .mini-add-contact{
        display: none;
    }
    .arrowContact{
        display: none;
    }
}

@media(max-width: 800px) {
    .asideMenu:nth-of-type(4) {
        padding: 0;
        border-radius: 10px;
    }

    .header {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .mainDesign {
        height: 100%;
        width: 100%;
    }

    .contact-group{
        width: 60%;
    }

    .header span {
        width: 34px;
    }

    .content {
        padding: 0;
        width: 100%;
    }

    .picHelp {
        display: none;
    }

    .container {
        overflow: auto;
        width: 100%;
    }    

    .contactArea{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact-container-right {
        display: none; /* Nur die Kontaktliste anzeigen */
    }

    .container.hidden {
        display: none; /* Kontaktliste ausblenden, wenn sie die Klasse 'hidden' hat */
    }

    .contact-container-right.OnDetails {
        display: block; /* Kontakt-Details einblenden, wenn aktiv */
    }
    
}



@media(max-width: 390px) {
    .container {
        width: 100%;
        overflow: auto;
    }

    .contact-text {
        display: block;
    }

    .contact-text h1 {
        font-size: 35px;
    }
}

@media(max-width: 320px) {
    .popup-test {
        display: block;
    }

    .btn-image {
        display: none;
    }

    .mini-add-contact {
        display: block;
    }

    .contact-text {
        display: block;
    }

    .contact-text h1 {
        font-size: 35px;
    }
}
