@media (min-width: 1430px) {
    body {
        min-height: 918px;
    }

    .join-logo {
        position: unset;
    }

}

@media (max-width: 968px) {

    .loginarea {
        padding: 20px 115px;
        width: 400px;
        margin-top: 20px;
    }
}

@media (max-width: 938px) {
    .logo {
        top: 0;
    }

    .logo img {
        transform: scale(0.8);
        margin-left: 50px;
    }
}

@media (max-width: 698px) {
    .loginarea {
        width: 350px;
        padding: 20px 115px;
    }
}

@media (max-width: 594px) {
    .loginarea {
        width: 230px;
    }

    .loginarea form .custome-input input {
        width: 300px;
        padding: 10px 20px;
        font-size: 15px;
    }

    .loginarea form .custome-input .socialicons {
        right: 20px;
        top: 10px;
    }

    .loginheadline .textline {
        font-size: 40px;
        line-height: 56.4px;
        text-align: center;
        font-weight: 700;
    }

    .arrowleft {
        left: -63px;
    }
}

@media (max-width: 496px) {
    .loginarea {
        width: 150px;
    }

    .loginarea form .custome-input input {
        width: 300px;
        padding: 10px 20px;
    }

    .loginheadline .underlineLogin {
        width: 100px;
    }

    .loginarea form .btns {
        gap: 21px;
    }

    .loginarea form .btns .login {
        width: 150px;
    }

    header {
        top: 85vh;
        left: 100px;
    }

    header .topline p {
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
    }

    header .topline .login {
        width: 104px;
        height: 49px;
    }

    header .topline .login a {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }

    .finishText {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .loginarea {
        width: 200px;
        padding: 0px 80px;
    }

    .loginarea form .custome-input input {
        width: 280px;
    }

    .loginheadline .textline {
        font-size: 35px;
        line-height: 56.4px;
        text-align: center;
        font-weight: 700;
    }

    .loginheadline .underlineLogin {
        width: 100px;
    }

    .loginarea form .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        margin: 12px 0;
    }

    .loginarea form .btns .login {
        width: 178px;
    }

    header {
        margin-top: 2vh;
        margin-bottom: 10px;
        left: 70px;
    }

    header .topline .login {
        width: 104px;
        height: 49px;
    }

    header .topline .login a {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }
}

@media (max-width: 397px) {
    .loginarea {
        width: 200px;
        padding: 0 40px;
    }

    .loginarea form .custome-input input {
        width: 200px;
    }

    header .topline {
        margin-bottom: 20px;
    }

    header .topline .login {
        width: 104px;
        height: 49px;
    }

    header .topline .login a {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }

    .loginheadline .textline {
        font-size: 35px;
        line-height: 56.4px;
        text-align: center;
        font-weight: 700;
    }

    .loginarea form .custome-input .socialicons {
        right: 20px;
    }
}

@media (max-width: 360px) {
    .loginarea {
        width: 200px;
        padding: 0 40px;
    }

    .loginarea form .custome-input input {
        width: 200px;
    }

    @media (max-width: 320px) {
        .loginarea {
            width: 200px;
            padding: 0 35px;
        }
    }

    .loginarea form .custome-input .socialicons {
        right: 20px;
    }
}