@media (max-width: 698px) {
    .loginarea {
        width: 350px;
    }

    .loginarea form .custome-input input {
        width: 300px;
    }
}

@media (max-width: 594px) {
    .loginarea {
        width: 250px;
    }
}

@media (max-width: 496px) {
    .loginarea {
        width: 150px;
        height: 400px;
    }

    .loginheadline .textline  {
        font-size: 47px;
        line-height: 56.4px;
        text-align: center;
        font-weight: 700;
    }

    .loginheadline .underlineLogin {
        width: 100px;
    }

    .loginarea form .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        margin-bottom: 0px;
    }

    .loginarea form .btns .login {
        width: 178px;
    }

    header {
        top: 85vh;
        left: 100px;
    }

    .topline {
        display: flex;
        align-items: center;
    }

    header .topline p {
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
    }

    header .topline .login {
        width: 104px;
        height: 49px;
    }

    header .topline .login a {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }
}

@media (max-width: 430px) {
    .loginarea {
        width: 150px;
        height: 515px;
        padding: 0px 80px;
    }

    .loginarea form .custome-input input {
        width: 250px;
    }

    .loginheadline .textline  {
        font-size: 47px;
        line-height: 56.4px;
        text-align: center;
        font-weight: 700;
    }

    .loginheadline .underlineLogin {
        width: 100px;
    }

    .loginarea form .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        margin-bottom: 0px;
    }

    .loginarea form .btns .login {
        width: 178px;
    }

    header {
        top: 700px;
        left: 70px;
    }

    .topline {
        display: flex;
        align-items: center;
    }

    header .topline .login {
        width: 104px;
        height: 49px;
    }

    header .topline .login a {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }
}

@media (max-width: 397px) {
    header .topline .login {
        width: 104px;
        height: 49px;
    }

    header .topline .login a {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 400;
    }
}

@media (max-width: 360px) {
    .loginarea {
        width: 200px;
        height: 515px;
        padding: 0 40px;
    }

    .loginarea form .custome-input input {
        width: 200px;
    }
}

@media (max-width: 320px) {
    .loginarea {
        width: 200px;
        height: 515px;
        padding: 0 35px;
    }
}