:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    width: 100%;
    height: 100%;
}

.mainDesign{
    background-color: #F6F7F8;
}

.content {
    padding: 4rem 4rem 0 4rem;
    max-width: 1440px;
}

.text-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-arrow img {
    object-fit: cover;
    width: 37px;
    height: 37px;
}

.text-2{
    max-width: calc(1440px - 360px);
}

.text-2 h1 {
    font-size: 3.813rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: 700;
}

.text-2 p, span {
    font-size: 1rem;
}

.text-2 a {
    color: black;
}

/* .burger-menu {
    position: absolute;
    top: 90px;
    right: 19px;
    width: 175px;
    height: 210px;
    background-color: var(--sideheader-main-color);
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
    display: none;
    z-index: 999;
} */

@media(max-width:480px) {
    .text-arrow h1{
        font-size:40px;
    }
}

@media(max-width:1300px) {
    .headerContentRightSide{
        display: none;
    }
}
