:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
    --button-hover-color: #29ABE2;
    --item-hover-color: #F8F8F8;
    --details-font-color: #007CEE;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 80px;
    left: 77px;
}

.logo img {
    width: 100.03px;
    height: 121.97px;
}

.loginarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    padding: 48px 115px 48px 115px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.loginheadline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.arrowleft {
    width: 34px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    left: -163px;
}

.loginheadline .textline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    display: inline-block;
    position: relative;
}

.underlineLogin {
    width: 150px;
    bottom: -16px;
}

.loginarea form .custome-input {
    position: relative;
    margin-bottom: 20px;
}

.loginarea form .custome-input input {
    color: #D1D1D1;
    font-size: 20px;
    padding: 13px 21px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 10px;
    outline: none;
}

.loginarea form .custome-input input:focus{
    border-color: #D1D1D1;
}

.loginarea form .custome-input .socialicons {
    position: absolute;
    font-size: 24px;
    right: 14px;
    top: 14px;
}

input::placeholder {
    color: #D1D1D1;
}

.loginarea form .check-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.loginarea form .check-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.policycolor {
    color: var(--button-hover-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.loginarea form .btns {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.loginarea form .btns .login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 126px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: var(--sideheader-main-color);
    color: white;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.loginarea form .btns .login:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.loginarea form .btns .guestlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 178px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--sideheader-main-color);
    background: transparent;
    color: var(--sideheader-main-color);
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.loginarea form .btns .guestlogin:hover {
    background-color: white;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    color: var(--button-hover-color);
    border: 1px solid var(--button-hover-color);
}

footer .footercontent {
    position: absolute;
    bottom: 0;
    left: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}

.footercontent h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
    cursor: pointer;
}

.footercontent h3:hover {
    color: var(--button-hover-color);
    font-weight: bold;
}