:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
    --button-hover-color: #29ABE2;
    --item-hover-color: #F8F8F8;
    --details-font-color: #007CEE;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    min-height: 890px;
}

.logo {
    width: 100%;
    max-width: 1440px;
}

.logo img {
    width: 100px;
    height: 121px;
    margin-left: 128px;
}

.loginarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    padding: 18px 92px 18px 92px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 22px;
}

.loginheadline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.arrowleft {
    top: 36px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    position: absolute;
    left: -163px;
}

.arrowleft:hover {
    background-color: #eeeeee;
    border-radius: 50%;
}

.loginheadline .textline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    display: inline-block;
    position: relative;
}

.underlineLogin {
    width: 150px;
    bottom: -16px;
}

.loginarea form .custome-input {
    position: relative;
    margin-bottom: 20px;
}

.inputSignUp :input {
    width: 80%;
}

.inputSignUp {
    color: #D1D1D1;
    font-size: 20px;
    padding: 13px 21px;
    width: 422px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    gap: 10px;
    outline: none;
}

.inputSignUp:focus {
    border-color: #29ABE2;
    color: #091931;
}

.loginarea form .custome-input .socialicons {
    position: absolute;
    font-size: 24px;
    right: 30px;
    top: 14px;
}

input::placeholder {
    color: #D1D1D1;
}

.loginarea form .check-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.checkLabel {
    display: flex;
    gap: 10px;
}

.checkLabel a {
    text-decoration: none;
}

.hide {
    opacity: 0 !important;
}

.d_none {
    display: none !important;
}

.loginarea form .check-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.policycolor {
    color: var(--button-hover-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    cursor: pointer;
}

.loginarea form .btns {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.loginarea form .btns .login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 126px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: var(--sideheader-main-color);
    color: white;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.loginarea form .btns .login:hover {
    background-color: var(--button-hover-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.loginarea form .btns .guestlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 178px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--sideheader-main-color);
    background: transparent;
    color: var(--sideheader-main-color);
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.btnOff {
    background-color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 166px;
    height: 48px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.btnOn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 126px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: var(--sideheader-main-color);
    color: white;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    cursor: pointer;
}

.loginarea form .btns .guestlogin:hover {
    background-color: white;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
    color: var(--button-hover-color);
    border: 1px solid var(--button-hover-color);
}

footer .footercontent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}

.footercontent a {
    text-decoration: none;
}

.footercontent h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
    cursor: pointer;
}

.footercontent h3:hover {
    color: var(--button-hover-color);
    font-weight: bold;
}

.fail {
    width: 100%;
    height: 18px;
    font-size: 14px;
    color: rgba(249, 25, 25, 0.5);
}

.failinput {
    color: #D1D1D1;
    font-size: 20px;
    padding: 13px 21px;
    width: 422px;
    border: 1px solid red;
    border-radius: 10px;
    gap: 10px;
    outline: none;
}

.finishDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.finishText {
    background-color: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    animation: slideIn 325ms ease-in-out;
    z-index: 100;
}


@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}