:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
    --button-hover-color: #29ABE2;
    --item-hover-color: #F8F8F8;
    --details-font-color: #007CEE;
}

.content {
    max-width: 1440px;
    display: flex;
}

.contact-container-right {
    margin-top: 70px;
    margin-left: 40px;
}

.contact-text {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-text h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.contact-text p {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
}

.block-main {
    display: flex;
    gap: 25px;
    width: 560px;
    height: 168px;
    margin-left: 40px;
    margin-top: 40px;
}

.block-main .pen-section-1 {
    background-color: white;
    border-radius: 30px;
    width: 264px;
    height: 168px;
    padding: 38px 19px 38px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.block-main .pen-section-1 .pen-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-main .pen-section-1 .pen-text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.block-main .pen-section-1 .pen-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.block-mid {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
}

.pen-section-2 {
    background-color: white;
    border-radius: 30px;
    width: 555px;
    height: 168px;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 61px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 18px;
}

.pen-img {
    width: 60px;
    height: 60px;
}

.ontake2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ontake2 h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.ontake2 p {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}

.vector-img {
    height: 102px;
    width: 2px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.right-section h2 {
    line-height: 25.2px;
    font-size: 21px;
    font-weight: 700;
}

.psmall {
    font-size: 16px;
    color: gray;
    font-weight: 400;
    line-height: 19.2px;
}

.activeSummary{
    content: url("../img/IconsSummary.png");
}

.block-end {
    display: flex;
    gap: 25px;
    width: 560px;
    height: 170px;
    margin-left: 40px;
    margin-top: 40px;
}

.block-end .pen-section-3 {
    background-color: white;
    border-radius: 30px;
    width: 168px;
    height: 168px;
    padding: 25px 0px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.block-end .pen-section-3 .pen-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.block-end .pen-section-3 .pen-3 h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.block-end .pen-section-3 .pen-3 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}