:root {
    --sideheader-main-color: #2A3647;
    --sideheader-hover-color: #2A3D59;
    --sideheader-active-color: #091931;
    --content-main-color: #F6F7F8;
    --sideheader-font-color: #CDCDCD;
    --button-hover-color: #29ABE2;
    --item-hover-color: #F8F8F8;
    --details-font-color: #007CEE;
}

.content {
    max-width: 1440px;
    display: flex;
}

.contact-container-right {
    width: 100%;
}

.contact-text {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-text h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.contact-text p {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
}

.block-main {
    display: flex;
    gap: 25px;
    width: 100%;
    height: 168px;
}

.block-main .pen-section-1 {
    background-color: white;
    border-radius: 30px;
    width: 264px;
    height: 168px;
    padding: 38px 19px 38px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.block-main .pen-section-1 .pen-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-main .pen-section-1 .pen-text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.block-main .pen-section-1 .pen-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.block-mid {
    display: flex;
    gap: 30px;
}

.pen-section-2 {
    background-color: white;
    border-radius: 30px;
    max-width: 555px;
    width: 100%;
    height: 168px;
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 61px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 18px;
}

.pen-img {
    width: 60px;
    height: 60px;
}

.block-main .pen-section-1:hover .pen-img img {
    content: url("../img/Frame59.png");
}

.block-main .pen-section-1:nth-child(2):hover .pen-img img {
    content: url("../img/Frame599.png");
}

.ontake2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ontake2 h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.ontake2 p {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}

.vector-img {
    height: 102px;
    width: 2px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.right-section h2 {
    line-height: 25.2px;
    font-size: 21px;
    font-weight: 700;
}

.psmall {
    font-size: 16px;
    color: gray;
    font-weight: 400;
    line-height: 19.2px;
}

.pen-section-2:hover .psmall {
    color: white;
}

.activeSummary {
    content: url("../img/IconsSummary.png");
}

.block-end {
    display: flex;
    gap: 25px;
    width: 100%;
    height: 170px;
}

.block-end .pen-section-3 {
    background-color: white;
    border-radius: 30px;
    width: 168px;
    height: 168px;
    padding: 25px 0px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.block-end .pen-section-3 .pen-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.block-end .pen-section-3 .pen-3 h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
}

.block-end .pen-section-3 .pen-3 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.block-main .pen-section-1:hover,
.block-mid .pen-section-2:hover,
.block-end .pen-section-3:hover {
    background-color: var(--sideheader-main-color);
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: white;
    cursor: pointer;
}

.block-main .pen-section-1,
.block-mid .pen-section-2,
.block-end .pen-section-3 {
    transition: 125ms ease-in-out;
}

.psmall:hover {
    color: white;
}

.summaryContent {
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;
    height: 100%;
    padding: 70px 40px;
    gap: 40px;
}

#divHead {
    width: 3px;
    height: 64px;
    background-color: #29ABE2;
    transform: rotate(180deg);
    border: 3px;
}

.greating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 385px;
    min-height: 136px;
}

.greating span:nth-of-type(1) {
    font-size: 47px;
    font-weight: 500;
    color: #243647;

}

.greating span:nth-of-type(2) {
    font-size: 48px;
    font-weight: 700;
    color: #29ABE2;
    width: 100%;
}